*{
    padding: 0;
    margin: 0;
}
.card{
    border: 2px solid black;
    margin-top: 30px;
    line-height: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 400px;
    margin: 20px;
    border-radius: 5%;
    box-shadow: 0 4px 8px black;
    transition: 0.5s;
}
.header{
    display: flex;

}
.bio{
    padding: 0 2px 0 2px;
}
img{
    height: 200px;
    border-top-left-radius: 5% ;
    border-top-right-radius: 5% ;
}
.card:hover{
    box-shadow: 0 8px 16px black;
    transition: 0.5s;
}
